<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.core.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.github.core.domain.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="BIT"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="license_plate" property="licensePlate" jdbcType="VARCHAR"/>
        <result column="vehicle_type" property="vehicleType" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, user_id, user_name, gender, age, birthday, address,
        user_type, real_name, qq, email, tel, license_plate, vehicle_type
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_user_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from sys_user_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.github.core.domain.UserInfo">
        insert into sys_user_info (id,
                                   gmt_create,
                                   gmt_modified,
                                   user_id,
                                   user_name,
                                   gender,
                                   age,
                                   birthday,
                                   address,
                                   user_type,
                                   real_name,
                                   qq,
                                   email,
                                   tel,
                                   license_plate,
                                   vehicle_type)
        values (#{id,jdbcType=INTEGER},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                #{userId,jdbcType=VARCHAR},
                #{userName,jdbcType=VARCHAR},
                #{gender,jdbcType=BIT},
                #{age,jdbcType=INTEGER},
                CURRENT_TIMESTAMP,
                #{address,jdbcType=VARCHAR},
                #{userType,jdbcType=VARCHAR},
                #{realName,jdbcType=VARCHAR},
                #{qq,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR},
                #{tel,jdbcType=VARCHAR},
                #{licensePlate,jdbcType=VARCHAR},
                #{vehicleType,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.github.core.domain.UserInfo">
        insert into sys_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="licensePlate != null">
                license_plate,
            </if>
            <if test="vehicleType != null">
                vehicle_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BIT},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="licensePlate != null">
                #{licensePlate,jdbcType=VARCHAR},
            </if>
            <if test="vehicleType != null">
                #{vehicleType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.core.domain.UserInfo">
        update sys_user_info
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=BIT},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                user_type = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="licensePlate != null">
                licensePlate = #{licensePlate,jdbcType=VARCHAR},
            </if>
            <if test="vehicleType != null">
                vehicleType = #{vehicleType,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.core.domain.UserInfo">
        update sys_user_info
        set gmt_create    = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP},
            user_id       = #{userId,jdbcType=VARCHAR},
            user_name     = #{userName,jdbcType=VARCHAR},
            gender        = #{gender,jdbcType=BIT},
            age           = #{age,jdbcType=INTEGER},
            birthday      = #{birthday,jdbcType=TIMESTAMP},
            address       = #{address,jdbcType=VARCHAR},
            user_type     = #{userType,jdbcType=VARCHAR},
            real_name     = #{realName,jdbcType=VARCHAR},
            qq            = #{qq,jdbcType=VARCHAR},
            email         = #{email,jdbcType=VARCHAR},
            tel           = #{tel,jdbcType=VARCHAR},
            license_plate = #{licensePlate,jdbcType=VARCHAR},
            vehicle_type  = #{vehicleType,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_info
    </select>

    <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_user_info
        where user_name = #{user_name,jdbcType=VARCHAR}
    </select>

    <select id="signOn" resultMap="BaseResultMap" parameterType="com.github.core.domain.UserInfo">
        select *
        from sys_user_info,
             sys_user
        where sys_user.user_id = sys_user_info.user_id
          and tel = #{tel,jdbcType=VARCHAR}
          and password = #{password,jdbcType=VARCHAR}
    </select>

</mapper>